* {
    padding: 0px;
    margin: 0px;
    cursor: none;
}
body {
    overflow: hidden;
    background: var(--back);
}
.scroll {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    scroll-behavior: smooth;
}
.scroll::-webkit-scrollbar{
    display: none;
  }
:root {
    --back: black;
    --back2: gray;
    --color: #fff;
    --acco: #62ff82;
    --taile: 50vw;
    --taile2: -50vw;
}
/*                      la souris            */
#mouse {
    position: fixed;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: var(--color);
    z-index: 5555556;
    transition: 0.05s linear;
    position: fixed;
    transform: translate(-50%,-50%);
}
#mouse h1{
    color: var(--acco);
}
#mouselerp {
    position: fixed;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    z-index: 5555556;
    transition: 0.1s linear;
    position: fixed;
    border: 2px solid var(--color);
    transform: translate(-50%,-50%);
}
/*                      bando d'affiliation */
.affiliation {
    background: var(--back);
    color: var(--color);
    height: 5vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;    
    z-index: 400000;
}
.affiliation p span {
    color: var(--acco);
    text-decoration: underline;
}
/*                      le header                                */
.homme {
    height: 100vh;
    width: 100vw;
    background: var(--back);
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
/*                      section de présentation des deux prodiut */
.présentation {
    overflow: hidden;
    transition: 0.5s ease-in-out width;
    transform: translateX(var(--taile));
    transition: 0.25s ease-in-out transform;
}
.a {
    transform: translateX(var(--taile2));
}
.illustration {
    height: 50vh;
    width: 100%;
    background: gray;
}
/*                  section full screen          */
.vidéo {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background: #0000ff80;
    z-index: 4000;
}
.fermé {
    position: fixed;
    top: calc(5vh + 15px);
    left: 15px;
    height: 4em;
    width: 4em;
    transition: scale 0.25s ease-in-out;
}
.fermé:hover {
    scale: 1.3;
}
.fermé span {
    display: block;
    height: 20%;
    width: 100%;
    background: var(--back);
    margin-bottom: 59%;
    transform: translateY(200%) rotate(45deg); 
}
.fermé span:nth-child(2) {
    transform: translateY(-200%) rotate(-45deg);
}
.carroselle {
    display: flex;
    width: 200vw;
    background: var(--back);
    color: var(--color);
    animation: carroselle 15s infinite linear;
    padding-top: 10px;
    padding-bottom: 10px;
}
.r {
    animation: carroselle 15s reverse infinite linear;
}
.carroselle h1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200vw;
    font-size: 1.5em;
}
.description p {
    margin-top: 50px;
    padding: 25px 150px;
    font-size: 1.25em;
    color: var(--color);
}

/*                      bouton pour commander les produit */
.commander {
    width: max-content;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 25px;
    border: 1px solid currentColor;
    background: var(--color);
    color: var(--back);
    transition: 0.25s ease-in-out;
}
.commander:hover {
    color: var(--color);
    background: var(--back);
    transform: translate(10px,-10px);
    box-shadow: -10px 10px var(--back2),-9px 9px var(--back2),-8px 8px var(--back2),-7px 7px var(--back2),-6px 6px var(--back2),-5px 5px var(--back2),-4px 4px var(--back2),-3px 3px var(--back2),-2px 2px var(--back2),-1px 1px var(--back2);
}

@keyframes carroselle {
    0% {
        transform: translate(0vw);
    }
    100% {
        transform: translate(-100vw);
    }
} 
@media (max-width: 1400px) {
    :root {
        --taile2: -100vw;
        --taile: 100vw;
    }
    .produit {
        flex-direction: column;
    }
    .présentation {
        width: 100%;
        transition: 0.5s ease-in-out transform;
    }
}
@media (max-width: 900px) {
    #mouse {
        display: none;
    }
    #mouselerp {
        display: none;
    }
    .description p {
        margin-top: 5px;
        padding: 25px 15px;
    }
    .carroselle{
        width: 800vw;
        animation-duration: 5s;
    }
    .carroselle h1{
        width: 800vw;
    }
}